/.DS_Store
/hs_err_pid19373.log
/hs_err_pid21185.log
/hs_err_pid22431.log
/hs_err_pid24406.log
/hs_err_pid24458.log
/hs_err_pid24843.log
/hs_err_pid24950.log
/hs_err_pid25044.log
/hs_err_pid25403.log
/hs_err_pid25452.log
/hs_err_pid25574.log
